@using ajansflix.SERVICES.Dtos.ProductsData
@using ajansflix.SERVICES.Dtos.CategoryData

@{
    List<ProductDto> products = ViewBag.Products as List<ProductDto>;
    List<CategoryDto> categoryList = ViewBag.CategoryList as List<CategoryDto>;
    ProductDto product1 = ViewBag.Product1 as ProductDto;
    ProductDto product2 = ViewBag.Product2 as ProductDto;
    ProductDto product3 = ViewBag.Product3 as ProductDto;
    ProductDto product4 = ViewBag.Product4 as ProductDto;
}

<style>
    .title-rotated {
        position: relative;
        top: 38px;
        z-index: 800;
        left: 15px;
        font-size: 19px;
        font-weight: 800;
        font-family: 'MadeTommy Bold';
    }

    .title-home {
        border-radius: 0 !important;
        rotate: -3deg;
        height: 45px !important;
        width: 240px !important;
        background: #ffed00;
        margin-bottom: 45px;
        color: #000 !important;
    }

    .head-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .feature-inside .feature-block {
        width: 100%;
        padding: 0 25px;
        border-right: 1px solid rgb(0 0 0 / 30%);
    }

    .content-slider {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
        width: 945px;
        position: relative;
        left: 50%;
        top: 165px;
        right: 50%;
        transform: translate(-50%, -50%);
    }

    .content-slider-prg {
        padding: 0 25px 0 45px;
    }

    .pn01, .pn02, .pn03, .pn04 {
        position: absolute;
    }

    a.pn01 {
        left: 0px;
        top: 110px;
    }

    a.pn02 {
        right: 30px;
        top: 120px;
    }

    a.pn03 {
        bottom: 90px;
        left: 0;
    }

    a.pn04 {
        right: 0;
        bottom: 60px;
    }

    .product-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 300px;
        padding: 10px;
        flex-wrap: nowrap;
        align-content: space-around;
    }

    .bg-img-campaign {
        background-image: url(/img/seasonal-main.png);
        background-origin: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        height: 570px;
    }
    .container-left {
        position: absolute;
        width: 620px;
        height: 447px;
        background: transparent url(/img/numune-kutusu-image.png) 0 0 no-repeat padding-box;
        left: -40px;
        top: -65px;
    }
    .container-right {
        width: 550px;
        float: right;
        color: #000;
    }
    .container-info {
        margin: 0 auto;
        width: 500px;
        text-align: center;
        position: relative;
        transform: translate(-50%, 5%);
        left: 50%;
        right: 50%;
    }
    .ctn-spacer{
        width:100px;
        height:2px;
        background-color:#000;
        margin:20px auto;
        display:block;
    }
    .btn-group-container {
        margin: 15px auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
</style>

@*1-Başlangı Web Sitesi
2-Premium Web Sitesi
3-E-Ticaret Sitesi
4-CRM Tasarım Kodlama*@

<link rel="stylesheet" type="text/css" href="~/css/slick.css">
<link rel="stylesheet" type="text/css" href="~/css/slick-theme.css">

@foreach (var item in categoryList.Where(x => x.IsActive == true))
{
    <div class="container container-240" style=" padding-top: 10px; padding-bottom: 0px;">
        <div class="head-title">
            <div class="title-ecome">
                <span class="title-rotated">@Html.Raw(item.CategoryDescription)</span>
                <div class="title-icon e-gradient title-home">
                </div>
            </div>
            <a class="btn btn-navigate" style="border:1px solid #000;" href="/hizmetler?id=@item.Id">Tümünü Gör</a>
        </div>
        <div class="e-product">
            <div class="product-collection-grid product-grid spc1">
                <div class="row">

                    @foreach (var item2 in products.Where(x => x.CategoryId == item.Id && x.IsActive == true).OrderByDescending(x => x.CreatedTime).Take(4))
                    {
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 product-item">
                            <div class="pd-bd product-inner">
                                <div class="product-img">
                                    @if (item2.Discount > 0)
                                    {
                                        <div class="ribbon-price red"><span>-@item2.Discount% </span></div>
                                    }
                                    <a href="@Url.Action("detay","hizmet", new { Id = item2.Id, productname = item2.GenerateSlug() })">
                                        <img src="@item2.ImagePath" alt="@item2.ProductMetaName" loading="lazy" title="@item2.ProductMetaName" class="img-reponsive" id="image_@item2.Id">
                                    </a>
                                </div>
                                <div class="product-info" style="margin-top: 20px;">
                                    <div class="element-list element-list-middle">
                                        <h3 class="product-title"><a href="@Url.Action("detay","hizmet", new { Id = item2.Id, productname = item2.GenerateSlug() })" id="itemName_@item2.Id">@item2.ProductName</a></h3>
                                        <div class="product-bottom">

                                            <div class="product-price" style="display: flex; flex-direction: column; align-items: flex-start;">
                                                @if (item2.Discount > 0)
                                                {
                                                    decimal ilkfiyat = item2.Price;
                                                    decimal indirimOrani = item2.Discount;
                                                    decimal indirimli_fiyat = ilkfiyat - (ilkfiyat * (indirimOrani / 100));

                                                    <span style="font-weight: 800; color:#000;" class="red" id="basePrice_@item2.Id">@Convert.ToInt32(indirimli_fiyat) TL <span style="font-weight:800; font-size:17px;">+KDV</span> </span>
                                                    <span class="old" style="font-weight:500; font-size:17px; margin-left:0; text-decoration:line-through">@Convert.ToInt32(item2.Price) TL</span>}
                                                else if (item2.Discount == 0)
                                                {
                                                    <span style="font-weight:800;" id="basePrice_@item2.Id">@Convert.ToInt32(item2.Price) TL</span>
                                                    <span style="font-size: 14px; font-weight: 300;"> +KDV</span>}
                                                else
                                                {

                                                }
                                            </div>
                                            <a href="@Url.Action("detay","hizmet", new { Id = item2.Id, productname = item2.GenerateSlug() })" class="btn-icon btn-view">
                                                <span class="icon-bg icon-view"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

}

<div class="feature" style="background: #fff; width: 100%; margin: 0px auto; padding: 30px;">
    <div class="container container-240">
        <div class="ecome-heading style2 spc4" style="margin-bottom:30px;">
            <div class="title-icon t-inline t-line">
                <h1>Sezonluk Kampanya</h1>
            </div>
        </div>
        <div class="bg-img-campaign">
            <a href="#" class="pn01">
                <div class="pd-bd product-inner product-flex">
                    <div class="product-img">
                        @if (product1.Discount > 0)
                        {
                            <div class="ribbon-price red"><span>-@product1.Discount% </span></div>
                        }
                        <img src="@product1.ImagePath" style="width: 110px; padding: 10px 15px 10px 8px; " alt="@product1.ProductMetaName" loading="lazy" title="@product1.ProductMetaName" class="img-reponsive" id="image_@product1.Id">
                    </div>
                    <div class="product-info">
                        <div class="element-list element-list-middle">
                            <h5 style="font-size:16px; margin-bottom:5px;" class="product-title">@product1.ProductName</h5>
                            <div class="product-bottom">

                                <div class="product-price" style="display: flex; flex-direction: column; align-items: flex-start;">
                                    @if (product1.Discount > 0)
                                    {
                                        decimal ilkfiyat = product1.Price;
                                        decimal indirimOrani = product1.Discount;
                                        decimal indirimli_fiyat = ilkfiyat - (ilkfiyat * (indirimOrani / 100));

                                        <span style="font-weight: 800; color:#000;" class="red" id="basePrice_@product1.Id">@Convert.ToInt32(indirimli_fiyat) TL <span style="font-weight:800; font-size:17px;">+KDV</span> </span>
                                        <span class="old" style="font-weight:500; font-size:17px; margin-left:0; text-decoration:line-through">@Convert.ToInt32(product1.Price) TL</span>}
                                    else if (product1.Discount == 0)
                                    {
                                        <span style="font-weight:800;" id="basePrice_@product1.Id">@Convert.ToInt32(product1.Price) TL <span style="font-size: 14px; font-weight: 300;"> +KDV</span> </span>
                                    }
                                    else
                                    {

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="pn02">
                <div class="pd-bd product-inner product-flex">
                    <div class="product-img">
                        @if (product2.Discount > 0)
                        {
                            <div class="ribbon-price red"><span>-@product2.Discount% </span></div>
                        }
                        <img src="@product2.ImagePath" style="width: 110px; padding: 10px 15px 10px 8px; " alt="@product2.ProductMetaName" loading="lazy" title="@product2.ProductMetaName" class="img-reponsive" id="image_@product1.Id">
                    </div>
                    <div class="product-info">
                        <div class="element-list element-list-middle">
                            <h5 style="font-size:16px; margin-bottom:5px;" class="product-title">@product2.ProductName</h5>
                            <div class="product-bottom">

                                <div class="product-price" style="display: flex; flex-direction: column; align-items: flex-start;">
                                    @if (product2.Discount > 0)
                                    {
                                        decimal ilkfiyat = product2.Price;
                                        decimal indirimOrani = product2.Discount;
                                        decimal indirimli_fiyat = ilkfiyat - (ilkfiyat * (indirimOrani / 100));

                                        <span style="font-weight: 800; color:#000;" class="red" id="basePrice_@product2.Id">@Convert.ToInt32(indirimli_fiyat) TL <span style="font-weight:800; font-size:17px;">+KDV</span> </span>
                                        <span class="old" style="font-weight:500; font-size:17px; margin-left:0; text-decoration:line-through">@Convert.ToInt32(product2.Price) TL</span>}
                                    else if (product2.Discount == 0)
                                    {
                                        <span style="font-weight:800;" id="basePrice_@product2.Id">@Convert.ToInt32(product2.Price) TL <span style="font-size: 14px; font-weight: 300;"> +KDV</span> </span>
                                    }
                                    else
                                    {

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="pn03">
                <div class="pd-bd product-inner product-flex">
                    <div class="product-img">
                        @if (product3.Discount > 0)
                        {
                            <div class="ribbon-price red"><span>-@product3.Discount% </span></div>
                        }
                        <img src="@product3.ImagePath" style="width: 110px; padding: 10px 15px 10px 8px; " alt="@product3.ProductMetaName" loading="lazy" title="@product3.ProductMetaName" class="img-reponsive" id="image_@product1.Id">
                    </div>
                    <div class="product-info">
                        <div class="element-list element-list-middle">
                            <h5 style="font-size:16px; margin-bottom:5px;" class="product-title">@product3.ProductName</h5>
                            <div class="product-bottom">

                                <div class="product-price" style="display: flex; flex-direction: column; align-items: flex-start;">
                                    @if (product3.Discount > 0)
                                    {
                                        decimal ilkfiyat = product3.Price;
                                        decimal indirimOrani = product3.Discount;
                                        decimal indirimli_fiyat = ilkfiyat - (ilkfiyat * (indirimOrani / 100));

                                        <span style="font-weight: 800; color:#000;" class="red" id="basePrice_@product3.Id">@Convert.ToInt32(indirimli_fiyat) TL <span style="font-weight:800; font-size:17px;">+KDV</span> </span>
                                        <span class="old" style="font-weight:500; font-size:17px; margin-left:0; text-decoration:line-through">@Convert.ToInt32(product3.Price) TL</span>}
                                    else if (product3.Discount == 0)
                                    {
                                        <span style="font-weight:800;" id="basePrice_@product3.Id">@Convert.ToInt32(product3.Price) TL <span style="font-size: 14px; font-weight: 300;"> +KDV</span> </span>
                                    }
                                    else
                                    {

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="pn04">
                <div class="pd-bd product-inner product-flex">
                    <div class="product-img">
                        @if (product4.Discount > 0)
                        {
                            <div class="ribbon-price red"><span>-@product4.Discount% </span></div>
                        }
                        <img src="@product4.ImagePath" style="width: 110px; padding: 10px 15px 10px 8px; " alt="@product4.ProductMetaName" loading="lazy" title="@product4.ProductMetaName" class="img-reponsive" id="image_@product1.Id">
                    </div>
                    <div class="product-info">
                        <div class="element-list element-list-middle">
                            <h5 style="font-size:16px; margin-bottom:5px;" class="product-title">@product4.ProductName</h5>
                            <div class="product-bottom">

                                <div class="product-price" style="display: flex; flex-direction: column; align-items: flex-start;">
                                    @if (product4.Discount > 0)
                                    {
                                        decimal ilkfiyat = product4.Price;
                                        decimal indirimOrani = product4.Discount;
                                        decimal indirimli_fiyat = ilkfiyat - (ilkfiyat * (indirimOrani / 100));

                                        <span style="font-weight: 800; color:#000;" class="red" id="basePrice_@product4.Id">@Convert.ToInt32(indirimli_fiyat) TL <span style="font-weight:800; font-size:17px;">+KDV</span> </span>
                                        <span class="old" style="font-weight:500; font-size:17px; margin-left:0; text-decoration:line-through">@Convert.ToInt32(product1.Price) TL</span>}
                                    else if (product4.Discount == 0)
                                    {
                                        <span style="font-weight:800;" id="basePrice_@product4.Id">@Convert.ToInt32(product4.Price) TL <span style="font-size: 14px; font-weight: 300;"> +KDV</span> </span>
                                    }
                                    else
                                    {

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="feature" style="background: #ffed00; height: 368px; width: 100%; margin: 0px auto; padding: 30px; ">
    <div class="container container-240" style="max-width:1136px; position:relative; height:100%; margin:0 auto;">
        <div class="container-left"></div>
        <div class="container-right">
            <div class="container-info">
                <h2 style="font-family:Urbanist Bold;">Web Tasarım ve Kodlama</h2>
                <div class="ctn-spacer"></div>
                <p style="font-size: 20px; margin-bottom:5px; line-height: 25px;">Markanız ve işiniz için istediğiniz web sayfalarını sizler için hazırlıyoruz! Şimdi hizmetimizi inceleyin</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                    optio, eaque rerum! Provident similique accusantium nemo autem.
                </p>
                <div class="btn-group-container">
                    <a href="#" class="btn btn-add-cart" style="background:transparent; border:2px solid #000; width:100%;">Hizmeti İncele</a>
                    <a href="#" class="btn btn-add-cart" style="width: 100%; border: 2px solid #000; margin: 0 5px;">Ürüne Git</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-240">
    <div class="brand">
        <div class="ecome-heading style2 spc4" style="margin-bottom:30px;">
            <div class="title-icon t-inline t-line">
                <h1>Referanslar</h1>
            </div>
        </div>
        <div class="brand-slick">
            <div>
                <div class="brand-item">
                    <a href="#" class="hover-images"><img src="~/img/brand/brand.png" alt="brand_1" title="brand_1" loading="lazy"></a>
                </div>
            </div>
            <div>
                <div class="brand-item">
                    <a href="#" class="hover-images"><img src="~/img/brand/brand_2.png" alt="brand_2" title="brand_2" loading="lazy"></a>
                </div>
            </div>
            <div>
                <div class="brand-item">
                    <a href="#" class="hover-images"><img src="~/img/brand/brand_3.png" alt="brand_3" title="brand_3" loading="lazy"></a>
                </div>
            </div>
            <div>
                <div class="brand-item">
                    <a href="#" class="hover-images"><img src="~/img/brand/brand_4.png" alt="brand_4" title="brand_4" loading="lazy"></a>
                </div>
            </div>
            <div>
                <div class="brand-item">
                    <a href="#" class="hover-images"><img src="~/img/brand/brand_5.png" alt="brand_5" title="brand_5" loading="lazy"></a>
                </div>
            </div>
            <div>
                <div class="brand-item">
                    <a href="#" class="hover-images"><img src="~/img/brand/brand_7.png" alt="brand_6" title="brand_6" loading="lazy"></a>
                </div>
            </div>
            <div>
                <div class="brand-item">
                    <a href="#" class="hover-images"><img src="~/img/brand/brand_8.png" alt="brand_7" title="brand_7" loading="lazy"></a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="feature" style="background: #ffed00;">
    <div class="container container-240">
        <div class="feature-inside">
            <div class="feature-block text-center">
                <div class="feature-block-img"><img src="~/img/feature/b_truck.png" alt="b_truck" loading="lazy" class="img-reponsive"></div>
                <div class="feature-info" style="color:#000;">
                    <h3>Worldwide Delivery</h3>
                    <p>With sites in 5 languages, we ship to over 200 countries &amp; regions.</p>
                </div>
            </div>
            <div class="feature-block text-center">
                <div class="feature-block-img"><img src="~/img/feature/b_credit.png" alt="b_credit" title="b_credit" loading="lazy" class="img-reponsive"></div>
                <div class="feature-info" style="color:#000;">
                    <h3>Safe Payment</h3>
                    <p>Pay with the world’s most popular and secure payment methods.</p>
                </div>
            </div>
            <div class="feature-block text-center">
                <div class="feature-block-img"><img src="~/img/feature/b_truck.png" alt="b_truck" title="b_truck" loading="lazy" class="img-reponsive"></div>
                <div class="feature-info" style="color:#000;">
                    <h3>Shop with Confidence</h3>
                    <p>Our Buyer Protection covers your purchase from click to delivery.</p>
                </div>
            </div>
            <div class="feature-block text-center">
                <div class="feature-block-img"><img src="~/img/feature/b-tele.png" alt="b-tele" title="b-tele" loading="lazy" class="img-reponsive"></div>
                <div class="feature-info" style="color:#000;">
                    <h3>24/7 Help Center</h3>
                    <p>Round-the-clock assistance for a smooth shopping experience.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="slide-fullw" style="width: 85%; margin: 20px auto; display: block;">
    <div class="js-slider-home2">
        <div class="e-slide-img">
            <div class="content-slider">
                <img src="~/img/megamenu-img.png"
                     style="width: 35%; position: relative; padding: 25px 0 0 0px;" loading="lazy" alt="banner-reklamlutfen" title="banner-reklamlutfen" class="mobile-slider-h">
                <div class="content-slider-prg">
                    <h3 style="margin-bottom: 10px; font-size: 25px; font-weight: 600;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
                    <p style="line-height:19px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem.
                    </p>
                    <a href="#" class="btn btn-navigate" style="border: 1px solid #000; margin-top: 15px;">Yazıyı Oku</a>

                </div>
            </div>
        </div>
        <div class="e-slide-img">
            <div class="content-slider">
                <img src="~/img/megamenu-img.png"
                     style="width: 35%; position: relative; padding: 25px 0 0 0px;" loading="lazy" alt="banner-reklamlutfen" title="banner-reklamlutfen" class="mobile-slider-h">
                <div class="content-slider-prg">
                    <h3 style="margin-bottom: 10px; font-size: 25px; font-weight: 600;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
                    <p style="line-height:19px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem.
                    </p>
                    <a href="#" class="btn btn-navigate" style="border: 1px solid #000; margin-top: 15px;">Yazıyı Oku</a>

                </div>
            </div>
        </div>
        <div class="e-slide-img">
            <div class="content-slider">
                <img src="~/img/megamenu-img.png"
                     style="width: 35%; position: relative; padding: 25px 0 0 0px;" loading="lazy" alt="banner-reklamlutfen" title="banner-reklamlutfen" class="mobile-slider-h">
                <div class="content-slider-prg">
                    <h3 style="margin-bottom: 10px; font-size: 25px; font-weight: 600;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
                    <p style="line-height:19px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem.
                    </p>
                    <a href="#" class="btn btn-navigate" style="border: 1px solid #000; margin-top: 15px;">Yazıyı Oku</a>

                </div>
            </div>
        </div>
        <div class="e-slide-img">
            <div class="content-slider">
                <img src="~/img/megamenu-img.png"
                     style="width: 35%; position: relative; padding: 25px 0 0 0px;" loading="lazy" alt="banner-reklamlutfen" title="banner-reklamlutfen" class="mobile-slider-h">
                <div class="content-slider-prg">
                    <h3 style="margin-bottom: 10px; font-size: 25px; font-weight: 600;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
                    <p style="line-height:19px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusantium nemo autem.
                    </p>
                    <a href="#" class="btn btn-navigate" style="border:1px solid #000; margin-top:15px;">Yazıyı Oku</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="feature" style="background: #f0f0f4; width: 100%; margin: 0px auto; padding: 30px;">
    <div class="container container-240">
        <div class="feature-inside" style="width: 84%; height: 95px; flex-wrap: wrap; overflow-y: scroll; margin: 0 auto; ">
            <h3 style="margin-bottom: 10px; font-size: 27px; font-weight: 600;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos
                sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                recusandae alias error harum maxime adipisci amet laborum. Perspiciatis
                minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit
                quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur
                fugiat, temporibus enim commodi iusto libero magni deleniti quod quam
                consequuntur! Commodi minima excepturi repudiandae velit hic maxime
                doloremque. Quaerat provident commodi consectetur veniam similique ad
                earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo
                fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore
                suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
                modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam
                totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam
                quasi aliquam eligendi, placeat qui corporis!
            </p>
        </div>
    </div>
</div>
