@using ajansflix.SERVICES.Dtos.CategoryData
@using ajansflix.SERVICES.Dtos.ProductsData

@{
    ViewData["Title"] = "sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<CategoryDto> categoryList = ViewBag.CategoryList as List<CategoryDto>;
    List<ProductDto> productList = ViewBag.ProductForMenu as List<ProductDto>;

}

<div class="container container-240 hidden-xs">
    <div class="row flex lr2">
        <div class="col-lg-12">
            <nav class="main-menu" style="margin-left:0;">
                <div class="collapse navbar-collapse navbar-middled-menu" id="myNavbar">
                    <ul class="nav navbar-nav js-menubar" style="width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;">

                        @foreach (var item in categoryList.Where(x=> x.IsActive == true).OrderBy(x=> x.Id))
                        {
                            <li class="level1 active hassub">
                                <a href="/hizmetler?id=@item.Id">@item.CategoryName</a>
                                <span class="plus js-plus-icon"></span>
                                <div class="menu-level-1 ver2 dropdown-menu" style="width:100%;">
                                    <div class="row">
                                        @foreach (var item2 in productList.Where(x => x.CategoryId == item.Id))
                                        {
                                            <div class="cate-item col-md-2 col-sm-12">
                                                <div class="demo-img">
                                                    <a href="@Url.Action("detay","hizmet", new { Id = item2.Id, productname = item2.GenerateSlug() })">
                                                        <img src="@item2.ImagePath.Replace("thumbnail","fullscreen")"
                                                             alt="@item2.ProductName" title="@item2.ProductName" loading="lazy" class="img-reponsive">
                                                    </a>
                                                </div>
                                                <div class="demo-text"><a href="@Url.Action("detay","hizmet", new { Id = item2.Id, productname = item2.GenerateSlug() })">@item2.ProductName</a></div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="slide-fullw" style="margin-top:10px; margin-bottom:8px;">
    <div class="js-slider-home2">
        <div class="e-slide-img">
            <a href="/hizmetler?id=2">
                <img src="img/o-banner2.jpg" 
                     style="width: 93%; margin: 0 auto; border: 1px solid #e7e7e7;" loading="lazy" alt="banner-reklamlutfen" title="banner-reklamlutfen" class="mobile-slider-h">
                <div class="slide-content v4 box-center">
                    <div class="container container-240">

                    </div>
                </div>
            </a>
        </div>
        <div class="e-slide-img">
            <a href="/hizmetler?id=11">
                <img src="img/shop-banner_2.jpg" style="width: 93%; margin: 0 auto; border: 1px solid #e7e7e7;"
                     alt="banner-reklamlutfen" title="banner-reklamlutfen" class="mobile-slider-h" loading="lazy">
                <div class="slide-content v4 box-center">
                    <div class="container container-240">

                    </div>
                </div>
            </a>    
        </div>
    </div>
</div>

<div class="desktopView">
    @{await Html.RenderPartialAsync("_desktopView");}
</div>

<div class="mobileView">
    @{ await Html.RenderPartialAsync("_mobileView");}
</div>