@using ajansflix.SERVICES.Dtos.CategoryData
@using ajansflix.SERVICES.Dtos.ProductsData

@{
    ViewData["Title"] = "sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<CategoryDto> categoryList = ViewBag.CategoryList as List<CategoryDto>;
    List<ProductDto> productList = ViewBag.ProductForMenu as List<ProductDto>;

}

<style>
    .slide-fullw .slick-arrow:hover {
        background: none;
    }

    .slide-fullw .slick-arrow {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        background: none;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
    }

    .ads-group .slide {
        border-radius: 10px;
        overflow: hidden;
        height: 335px;
    }

    .product-tab {
        padding-bottom: 5px;
    }

    .ads-group {
        margin-bottom: 0px;
        padding-top: 25px;
    }

    .owl-carousel .owl-item {
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-touch-callout: none;
        width: 295px !important;
    }

    .slide-fullw .prev {
        left: 5%;
    }

    .slide-fullw .next {
        right: 5%;
    }
</style>

<link href="~/css/custom.css" rel="stylesheet" />

<div class="container container-240 hidden-xs">
    <div class="row flex lr2">
        <div class="col-lg-12">
            <nav class="main-menu" style="margin-left:0;">
                <div class="collapse navbar-collapse navbar-middled-menu" id="myNavbar">
                    <ul class="nav navbar-nav js-menubar" style="position: relative; left: 1%;">

                        @foreach (var item in categoryList.Where(x=> x.IsActive == true))
                        {
                            <li class="level1 active hassub">
                                <a href="/hizmetler?id=@item.Id">@item.CategoryName</a>
                                <span class="plus js-plus-icon"></span>
                                <div class="menu-level-1 ver2 dropdown-menu">
                                    <div class="row">
                                        @foreach (var item2 in productList.Where(x => x.CategoryId == item.Id))
                                        {
                                            <div class="cate-item col-md-3 col-sm-12">
                                                <div class="demo-img">
                                                    <a href="@Url.Action("detay","hizmet", new { Id = item2.Id, productname = item2.GenerateSlug() })">
                                                        <img src="@item2.ImagePath.Replace("thumbnail","fullscreen")"
                                                             alt="@item2.ProductName" title="@item2.ProductName" loading="lazy" class="img-reponsive">
                                                    </a>
                                                </div>
                                                <div class="demo-text"><a href="@Url.Action("detay","hizmet", new { Id = item2.Id, productname = item2.GenerateSlug() })">@item2.ProductName</a></div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="slide-fullw" style="margin-top:10px; margin-bottom:0px;">
    <div class="js-slider-home2">
        <div class="e-slide-img">
            <a href="/hizmetler?id=2">
                <img src="img/o-banner2.jpg" 
                     style="width: 93%; margin: 0 auto; border: 1px solid #e7e7e7;" loading="lazy" alt="banner-reklamlutfen" title="banner-reklamlutfen" class="mobile-slider-h">
                <div class="slide-content v4 box-center">
                    <div class="container container-240">

                    </div>
                </div>
            </a>
        </div>
        <div class="e-slide-img">
            <a href="/hizmetler?id=11">
                <img src="img/shop-banner_2.jpg" style="width: 93%; margin: 0 auto; border: 1px solid #e7e7e7;"
                     alt="banner-reklamlutfen" title="banner-reklamlutfen" class="mobile-slider-h" loading="lazy">
                <div class="slide-content v4 box-center">
                    <div class="container container-240">

                    </div>
                </div>
            </a>    
        </div>
    </div>
</div>
@*<div class="ads-group v3">
        <div class="container container-240">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="slide">
                        <div class="e-slide v2 js-slider-3items">
                            <div class="e-slide-img v2">
                                <a href="#"><img style="object-fit: cover; height: 357px;" src="~/img/shop-banner_2.jpg" alt=""></a>
                                <div class="box-center slide-content v3">
                                </div>
                            </div>
                            <div class="e-slide-img v2">
                                <a href="#"><img style="object-fit: cover; height: 357px;" src="~/img/o-banner2.jpg" alt=""></a>
                                <div class="box-center slide-content v3">
                                </div>
                            </div>
                            <div class="e-slide-img v2">
                                <a href="#"><img style="object-fit: cover; height: 357px;" src="~/img/single/iphone_info_1.jpg" alt=""></a>
                                <div class="box-center slide-content v3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="desktopView">
    @{await Html.RenderPartialAsync("_desktopView");}
</div>

<div class="mobileView">
    @{ await Html.RenderPartialAsync("_mobileView");}
</div>