@model ajansflix.SERVICES.Dtos.ProductsData.ProductDto
@using ajansflix.SERVICES.Dtos.ProductDetailsData
@using ajansflix.SERVICES.Dtos.DetailData

@{ ViewData["Title"] = "Ürün Düzenle";
                Layout = "~/Areas/admin/Views/_Shared/_Layout.cshtml";
                List<string> images = ViewBag.Images as List<string>;
                List<string> imagesProduct = ViewBag.ImagesProduct as List<string>;

                List<ProductDetailDto> bilesenUrunler = ViewBag.BilesenUrun as List<ProductDetailDto>;
                List<DetailDto> bilesenler = ViewBag.Bilesenler as List<DetailDto>;

                int status = Convert.ToInt32(TempData["status"]); }

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{ public string GetAntiXsrfRequestToken()
            {
                return Xsrf.GetAndStoreTokens(Context).RequestToken;
            } }

<script src="~/ckeditor/ckeditor.js"></script>
<link href="~/ckeditor/contents.css" rel="stylesheet" />

<style>

    body {
        margin: 0 !important;
        background-color: #f1f5f7 !important;
    }

    .form-check {
        position: relative;
        text-align: left;
    }

        .form-check .form-check-input {
            float: left;
            margin-right: 0.5rem;
        }

    .modal-header .btn-close {
        padding: 0;
        margin: 0;
    }

    .img-dropzone {
        height: 140px;
        object-fit: cover;
        border: 5px solid #dfdfdf;
        width: 100%;
    }

    .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        z margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        float: right;
        top: -7px;
        position: relative;
    }

    .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        position: fixed;
    }

    .input-group {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        float: right;
        -ms-flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: self-end;
        width: 100%;
    }
</style>

<link href="~/adminpanel/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />

<form method="post" action="/admin/urun/urunguncelle" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-sm-7">
            <div class="card">
                <div class="card-body">
                    <div class="mb-4">
                        <label>Ürün Adı *</label>
                        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", @type = "text", placeholder = "Ürün adı giriniz...", @required = "required" })
                    </div>
                    <div class="mb-4">
                        <label>Fiyat *</label>
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", type="text", placeholder = "Ürün fiyatı yazın...", @required = "required" })
                    </div>
                    <div class="mb-4">
                        <label>Fiyat İndirimi</label>
                        @Html.TextBoxFor(x => x.Discount, new { @class = "form-control", type="datetime", placeholder = "İnidirm oranı giriniz. (Örn: 15)..." })
                    </div>
                    <div class="mb-4">
                        <label>Çarpan / Saat *</label>
                        @Html.TextBoxFor(x => x.Carpan, new { @class = "form-control", @type = "text", placeholder = "Çarpan/Saat yazın...", @required = "required" })
                    </div>
                    <div class="mb-4">
                        <label>Oluşturulma Tarihi</label>
                        @Html.TextBoxFor(x => x.CreatedTime, new { @class = "form-control", @type = "text", placeholder = "Zamanı düzenleyin...", @required = "required" })
                    </div>
                    <div class="mb-4">
                        <label>Ürün Kısa Açıklama *</label>
                        <textarea asp-for="ProductAlternateDesc" class="ckeditor"></textarea>
                    </div>
                    <div class="mb-4">
                        <label>Kategori Seçiniz *</label>
                        @Html.DropDownList("CategoryId", (SelectList)ViewBag.Category, "Kategori Seç", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="mb-4">
                        <label>Ürün Açıklama *</label>
                        <textarea asp-for="ProductDescription" class="ckeditor"></textarea>
                    </div>
                    <div class="mb-4">
                        <label>Seo Başlık *</label>
                        @Html.TextBoxFor(x => x.ProductMetaName, new { @class = "form-control", @type = "text", @Value = "Normal", placeholder = "SEO Başlık yazın...", @required = "required" })
                    </div>
                    <div class="mb-4">
                        <label>Seo Açıklama *</label>
                        @Html.TextBoxFor(x => x.ProductMetaDescription, new { @class = "form-control", @type = "text", @Value = "Normal", placeholder = "SEO Açıklama yazın...", @required = "required" })
                    </div>
                    <div class="mb-4">
                        <div class="form-check form-switch mb-3" style="top:10px;" dir="ltr">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input", id = "customSwitch1" })
                            <label class="form-check-label" for="customSwitch1">Aktif mi?</label>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label>Ürün Not *</label>
                        <textarea asp-for="UrunNot" class="ckeditor"></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <div class="mb-4" style="margin-bottom: 55px !important;">
                        <button style="float:right;" class="btn btn-primary" type="submit">Ürün Güncelle</button>
                        <button type="button" style="float:right; margin-right:4px;" data-bs-toggle="modal" data-bs-target=".bilesenModul" class="btn btn-info waves-effect waves-light">Bileşen Seçiniz</button>
                        <button type="button" style="float:right;margin-right: 4px;" data-bs-toggle="modal" data-bs-target=".fotomodul" class="btn btn-pink waves-effect waves-light">Galeri Yükleyin</button>
                    </div>
                    @if (Model.ImagePath != "" || Model.ImagePath != null)
                    {
        <div class="mb-4">
            <img id="img" src="@Model.ImagePath" style="width:100%; height:300px; object-fit:cover;" />
        </div> }
                    else
                    {
        <div class="mb-4">
            <img id="img" src="~/adminpanel/assets/images/comingsoon-bg.jpg" style="width:100%; height:300px; object-fit:cover;" />
        </div>}
                    <div class="mb-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="file" class="form-control filestyle" data-input="false" name="file" id="file" accept="image/*" />
                            </div>
                        </div>
                        <span style="position:relative; top:10px;"><em>(Zorunlu )Kare boyutta seçiniz (1000x1000)</em></span>
                    </div>
                    <div class="mb-4">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <label class="card-title">Galeri</label>
                </div>
                <div class="card-body">
                    <div class="row">
                        @foreach (var item in imagesProduct)
                        {
                            string path = item.Replace("/images/", "").Trim();
                            string lastPath = path.Replace("//thumbnail_","").Trim();

            <div class="col-sm-4" style="padding:5px;">
                <a href="/admin/urun/deleteImage?path=@lastPath.Substring(1)&productId=@Model.Id" style="text-decoration:none; float:right; background:none; font-size:25px; position:relative; top:0; right:0; cursor:pointer;"><span class="">&times;</span></a>
                <a href="@item.Replace("thumbnail","fullscreen")" target="_blank" title="Project 1">
                    <img loading="lazy" class="img-fluid img-dropzone" title="@item" alt="@item" src="@item" />
                </a>
            </div>}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <label class="card-title">Ürün Düzenleme Notları</label>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.UrunNot)
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade bilesenModul" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Bileşen Seçin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12" style="margin-bottom: 20px; padding: 0; ">
                                        <ul style="list-style-type:none; padding:0px;" id="uniqeList">
                                            @foreach (var item in bilesenler)
                                            {
                                                if (bilesenUrunler.Where(x => x.DetailId == item.Id).Any() == false)
                                                {
                                <li style="float:left; margin:5px;">
                                    <button value="@item.Id" id="detail_@item.Id" class="btn btn-primary waves-light">@item.DetailName +</button>
                                    <input type="hidden" value="@item.DetailName" id="detailButtonName_@item.Id" />
                                    <input type="hidden" value="@item.Type" id="detailButtonType_@item.Id" />
                                </li>}
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="font-size:20px;">Bileşen</th>
                                                    <th style="font-size:20px;">Tip</th>
                                                    <th style="font-size:20px;">Sıra</th>
                                                    <th style="font-size:20px;">İşlem</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table_detail">
                                                @foreach (var item in bilesenUrunler.OrderBy(x => x.Sorted))
                                                {
                                    <tr id="table_detail_list_@item.DetailId">
                                        <td style="font-size:20px;">@item.detail.DetailName <input type="hidden" value="@item.DetailId" id="detailParent_@item.DetailId" /> <input type="hidden" value="@item.detail.DetailName" id="detailName_@item.DetailId" /></td>
                                        <td style="font-size:20px;">@item.detail.Type <input type="hidden" value="@item.detail.Type" id="detailType_@item.DetailId" /></td>
                                        <td style="font-size:20px;">@item.Sorted</td>
                                        <td style="display: flex; flex-wrap: nowrap; justify-content: space-evenly; align-items: center;"><input type="text" class="form-control" style="width:50px;" id="sortedValue_@item.DetailId" /><a onclick="changeSorted(@item.DetailId);" class="btn btn-primary waves-light"><i class="fa fa-reply"></i></a> <a onclick="removeFromTable(@item.DetailId);" class="btn btn-danger waves-light">Çıkar</a></td>
                                    </tr>}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade fotomodul" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Fotoğraflarınızı Yükleyin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Fotoğraflar</h4>
                                <p class="card-title-desc">
                                    <strong>(!! Fotoğrafları yükledikten sonra ürün düzenleme sayfasını yenileyiniz!)</strong>
                                    DropzoneJS açık kaynak kodlu bir sürükle bırak eklentisidir.
                                    Fotoğraflarınızı sürükledikten sonra sunucuda yüklemesini sağlar ve anlık olarak görürsünüz.
                                </p>

                                <div>
                                    <form method="post" enctype="multipart/form-data" action="/admin/medya/uploadWithProduct?ProductId=@Model.Id" class="dropzone">
                                        <div class="fallback">
                                            <input name="file" accept="image/*" type="file" multiple id="files">
                                        </div>
                                        <div class="dz-message needsclick">
                                            <div class="mb-3">
                                                <i class="display-4 text-muted ri-upload-cloud-2-line"></i>
                                            </div>

                                            <h4>Fotoğrafı sürükleyin ve yükleyin</h4>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="~/adminpanel/assets/libs/jquery/jquery.min.js"></script>
<script src="~/adminpanel/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/adminpanel/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/adminpanel/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/adminpanel/assets/libs/node-waves/waves.min.js"></script>

<script src="~/adminpanel/assets/libs/dropzone/min/dropzone.min.js"></script>

<script src="~/adminpanel/assets/js/app.js"></script>

<script>
    $(document).ready(function () {
        Dropzone.options.dropzoneForm = {
            paramName: "file",
            maxFilesize: 20,
            maxFiles: 4,
            acceptedFiles: "image/*",
            dictMaxFilesExceeded: "Custom max files msg"
        }
    });
</script>

<script>
    $(function () {
        $('#file').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#img').attr('src', '~/adminpanel/assets/images/comingsoon-bg.jpg');
            }
        });
    });
</script>

<script>

    let buttons = document.querySelectorAll('button');
    let productId = @Model.Id;

   // Bileşeni Ekleme

    buttons.forEach(button => {
        button.addEventListener('click', function () {
            var id = $(this).val();
            var buttonGet = document.getElementById("detail_" + id);

            if (buttonGet != null) {
                mergeProduct(id, productId);
                removeDynamicListData(id);

                var titleThis = $("#detailButtonName_" + id).val();
                var typeThis = $("#detailButtonType_" + id).val();

                //console.log(id, titleThis, typeThis);
                //console.log(buttonGet)
                //console.log("-----------------");
                insertDynamicListData(titleThis, typeThis, id);
            }
        });
    });

    function mergeProduct(id, productId) {
        $.ajax({
            type:"POST",
            url:"/admin/urun/mergeProduct/",
            data: { Id: id, ProductId: productId },
            success: function (response) {
                if (response == true)
                {
                    window.location.reload();
                }
            },
            error: function (response) { }
        });
    }

    function removeDynamicListData(id) {
        var li = document.getElementById('detail_' + id);
        li.remove();
    }

    function insertDynamicListData(titleThis, typeThis, id) {

        var li = document.getElementById("detail_" + id);

        if (li != null) {
            li.remove();
        }

        var tr = document.createElement('tr');
        tr.innerHTML = dynamicelementdata(titleThis, typeThis, id);
        tr.id = "table_detail_list_" + id;
        document.getElementById("table_detail").appendChild(tr);

    }

    function dynamicelementdata(titleThis, typeThis, id) {
        return '<tr id="table_detail_list_"' + id + '">' +
            '<td style="font-size:20px;">' + titleThis + '<input type="hidden" value="' + id + '" id="detailParent_' + id +'" /><input type="hidden" value="' + titleThis + '" id="detailName_' + id +'" /></td></td>' +
            '<td style="font-size: 20px;">' + typeThis + '<input type="hidden" value="' + typeThis + '" id="detailType_' + id +'" /></td></td>' +
            '<td><a onclick="removeFromTable(' + id + ')" class="btn btn-danger waves-light">Çıkar</a></td></tr>'
    }

    // Bileşeni Ekleme

    // Bileşeni Silme

    var removeFromTable = function (detailId) {
        var detailParentId = $("#detailParent_" + detailId).val();
        var getRow = document.getElementById("table_detail_list_" + detailParentId);
        var titleDetailThis = $("#detailName_" + detailId).val();
        var typeDetailThis = $("#detailType_" + detailId).val();
        console.log(detailParentId, getRow, titleDetailThis, typeDetailThis);
        getRow.remove();

        insertDynamicUniqeListData(titleDetailThis, typeDetailThis, detailParentId);
        removeMerge(detailId, productId);
    }

    var changeSorted = function (detailId) {

        var value = document.getElementById("sortedValue_" + detailId).value;

        $.ajax({
            type: "POST",
            url: "/admin/urun/siradegistir?urunId=" +@Model.Id + "&detailId=" + detailId + "&sortNumber=" + Number.parseInt(value),
            success: function (response) {
                if (response == true) {
                    alert("Sıra değişti!");
                }
            },
            error: function (response) {
                if (response = false) {
                    alert("Sıra değişirken bir hata meydana geldi!");
                }
            }
        });
    }

    function removeMerge(detailId, productId)
    {
        $.ajax({
            type: "POST",
            url: "/admin/urun/removeMergeProduct/",
            data: { Id: detailId, ProductId: productId },
            success: function (response) {
                if (response == true) {
                    window.location.reload();
                }
            },
            error: function (response) {

            }
        });
    }

    //function removeDynamicTableData(id) {
    //    var tr = document.getElementById('table_detail_list_' + id);
    //    tr.remove();
    //}

    function insertDynamicUniqeListData(titleDetailThis, typeDetailThis, detailParentId)
    {
        var tr_list = document.getElementById("table_detail_list_" + detailParentId);

        if (tr_list != null) {
            tr_list.remove();
        }

        var li = document.createElement('li');
        li.innerHTML = dynamicListelementData(titleDetailThis, typeDetailThis, detailParentId);
        document.getElementById("uniqeList").appendChild(li);
    }

    function dynamicListelementData(titleDetailThis, typeDetailThis, detailParentId)
    {
        return "<li style='float:left; margin:5px;'> " +
            "<button value='" + detailParentId + "' id='detail_" + detailParentId + "' class='btn btn-primary waves-light'>" + titleDetailThis + " +</button>" +
            "<input type='hidden' value='" + titleDetailThis + "' id='detailButtonName_" + detailParentId + "' />" +
            "<input type='hidden' value='" + typeDetailThis + "' id='detailButtonType_" + detailParentId + "' /></li>"
    }

    // Bileşeni Silme

</script>