@using ajansflix.Core

@{
    MetaViewModel meta = ViewBag.Meta as MetaViewModel;
}

<!DOCTYPE html>
<html amp lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="rating" content="general" />
    <meta name="keywords" content="reklam, lutfen, teklif, dijital, prodüksiyon" />
    <meta name="abstract" content="security" />
    <meta name="robots" content="all" />
    <meta name="googlebot" content="Index, Follow" />
    <meta name="distribution" content="global" />
    <meta name="application-name" content="reklamlutfen" />
    <meta name="Copyright" content="(c) 2023 Reklam Lütfen">
    <meta name="content-language" content="tr-TR">
    <meta name="language" content="Turkish">
    <meta name="publisher" content="Reklam Lütfen 2023" />

    <meta name="description" content="@meta.Description" />

    <meta property="og:title" content="@meta.Title" />
    <meta property="og:description" content="@meta.ogDescription" />
    <meta property="og:image" content="@meta.ogImage" />
    <meta property="og:url" content="@meta.Url" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:site_name" content="Reklam Lütfen" />
    <meta property="article:publisher" content="https://www.twitter.com/reklamlutfen" />

    <meta name="twitter:card" content="summary_larg_image" />
    <meta name="twitter:title" content="@meta.Title" />
    <meta name="twitter:site" content="@meta.Url" />
    <meta name="twitter:description" content="@meta.Description" />
    <meta name="twitter:image" content="@meta.Image" />

    <meta name="resource-type" content="document">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">

    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <link rel="canonical" href="https://www.reklamlutfen.com/">

    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="author" content="Reklam Lütfen" />

    <title>@meta.Title</title>

    <link rel="shortcut icon" href="~/img/favicon.png" type="image/png">

    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link href="~/css/custom.css" type="text/css" rel="stylesheet" />

</head>

<body>
    @await Component.InvokeAsync("SubHeader")

    <div class="wrappage">

        @await Component.InvokeAsync("Header")

        @RenderBody()

        @await Component.InvokeAsync("Footer")

    </div>

    <a href="#" class="btn-gradient btn_primary_color scroll_top"><i class="ion-ios-arrow-up"></i></a>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/calculate.js"></script>

    <script>
        var totalCartCount = 0;
        var cartCountEmpty = document.getElementById("cart_count_empty");
        var cartCountFill = document.getElementById("cart_count");
    </script>

</body>
</html>
